.btn{
    font-size: 20px;
    margin-top: 40px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}
.btn:hover{
    box-shadow: inset 200px 0 0 0 #fff;
    cursor: pointer;
}
.btn + .btn{
    margin-left: 20px;
}
.checkin .p{    
    font-size: 20px;
}
p + p{
    padding-top: 50px;
}
.Content01 {
    width: 100%;
    line-height: 40px;
}
.Content02 {
    width: 100%;
    line-height: 40px;
}

.Title {
    float: left;
    width: 30%;
    margin-right: 20px;
    padding-top: 50px;
}

.Items {
    float: left;
    width: 25%;
    padding-top: 50px;
}

.AlignRight {
    text-align: right;
}
.Content01 input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /*opacity: 1;*/
}
.img #preview{
    width: 400px;
    height: 300px;
}
.img input{
    display: flex;
    flex-direction: column;
}
.img p{
    padding-bottom: 10px;
}
.img #upload{
    font-size: 20px;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    background-color: red ;
    font-family: 'Noto Sans TC', sans-serif;
}
.img #upload:hover{
    box-shadow: inset 190px 0 0 0 rgb(125, 120, 120);
    cursor: pointer;
}
#dropdown03{
    margin: 50px 0 20px 0;
    width: 200px;
}
#sele{
    margin-bottom: 10px;
}
.formcheck{
    width: 300px;
}
.formcheck input{
    width: 15%;
    flex-direction: row;
}
p + form{
    margin-top: 10px;
}
.lab{
    padding: 20px 0 20px 0;
}